[submodule "libs/BRC-CommonAPI"]
	path = libs/BRC-CommonAPI
	url = https://github.com/LazyDuchess/BRC-CommonAPI
[submodule "libs/CrewBoomAPI"]
	path = libs/CrewBoomAPI
	url = https://github.com/SGiygas/CrewBoomAPI
[submodule "libs/SlopCrew"]
	path = libs/SlopCrew
	url = https://github.com/SlopCrew/SlopCrew
	branch = main
[submodule "libs/SlopCrewClient"]
	path = libs/SlopCrewClient
	url = https://github.com/cspotcode/SlopCrewClient
