# Build artifacts
bin/
obj/

# IDE settings
.idea/
.vs/
.vscode/
*.user

# Build deployments
thunderstore/*.md
thunderstore/BepInEx
thunderstore/*.zip

# User-specific mapping toolkit preferences
/Winterland.Editor/Assets/BRCMapToolkitPreferences.asset
/Winterland.Editor/Assets/BRCMapToolkitPreferences.asset.meta

# Optional; for attaching a debugger to the game
/scripts/pdb2mdb.exe

# VisualScripting keeps generating these on my machine.  I don't know if this will affect anyone else.
/Winterland.Editor/Assets/Unity.VisualScripting.Generated
/Winterland.Editor/Assets/Unity.VisualScripting.Generated.meta
/Winterland.Editor/ProjectSettings/VisualScriptingSettings.asset

# cspotcode uses this directory to keep junk
/local-ignored
