# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Declare unity data files that will always have LF line endings on checkout.
*.unity text eol=lf
*.asset text eol=lf
*.anim text eol=lf
*.lighting text eol=lf
*.renderTexture text eol=lf
*.wlt text eol=lf
*.controller text eol=lf
*.preset text eol=lf
*.overrideController text eol=lf
*.guiskin text eol=lf
*.mat text eol=lf
*.mask text eol=lf
*.spriteatlas text eol=lf
*.meta text eol=lf
*.physicMaterial text eol=lf