# Build artifacts
bin/
obj/

# IDE settings
.idea/
.vs/
.vscode/
*.user

# Build deployments
thunderstore/*.md
thunderstore/BepInEx
thunderstore/*.zip

# User-specific mapping toolkit preferences
/Winterland.Editor/Assets/BRCMapToolkitPreferences.asset
/Winterland.Editor/Assets/BRCMapToolkitPreferences.asset.meta

# Optional; for attaching a debugger to the game
/scripts/pdb2mdb.exe
