[submodule "libs/BRC-CommonAPI"]
	path = libs/BRC-CommonAPI
	url = https://github.com/LazyDuchess/BRC-CommonAPI
[submodule "Winterland.Editor/Assets/MappingToolkit"]
	# Note: requires sparse checkout configuration from scripts/InitMappingToolkitSparseCheckout.ps1
	path = Winterland.Editor/Assets/MappingToolkit
    url = https://github.com/BRCMapStation/WinterlandMappingToolkitArchive
	# Note: using `milleniumwinterland` branch of brc-mapping-toolkit, not `main`
	branch = milleniumwinterland
[submodule "libs/CrewBoomAPI"]
	path = libs/CrewBoomAPI
	url = https://github.com/SGiygas/CrewBoomAPI
