# BRC's Assembly-CSharp assembly, but publicized. Should probs not redistribute.
libs/Assembly-CSharp-publicized.dll

# Build artifacts
bin/
obj/

# IDE settings
.idea/
.vs/
.vscode/
*.user

# Build deployments
thunderstore/*.md
thunderstore/BepInEx
thunderstore/*.zip